<h1><%= @product.title %></h1>

<div class="well">
  <b><%= @product.sku %></b>

  <b><%= @product.price %></b>

  <a href="/products/<%= @product.id %>/edit">Edit</a>

  <!-- NOTE why am I using a POST here? -->
  <form method="POST" action="/products/<%= @product.id %>/delete"><input type="submit" value="Delete"></form>
</div>
